body {
  margin: 0;
  font-family:'Courier New', 'Imprint MT Shadow', sans-serif;
  /*background: linear-gradient(89deg, #ff5edf 10%, #04c8de 100%);*/
  background: linear-gradient(89deg, #bfbfbf 0%, #d30075 100%);
  /*background-color: #d30073;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
	cursor: pointer;
}